<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /hair-solution/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /hair-solution/index.html [L]
</IfModule>
